p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.talking_class {
  font-size: 25px;
  font-weight: bold;
  width: 420px;
  margin: 0 0 8px 0;
  line-height: 28px;
}

.views_class {
  font-size: 15px;
  color: rgb(96, 96, 96);
  margin: 0 0 22px 0;
}

.marques_class {
  font-size: 16px;
  color: rgb(96, 96, 96);
  margin: 0 0 22px 0;
}

.tech_class {
  color: rgb(96, 96, 96);
  font-size: 15px;
  width: 300px;
  line-height: 22px;
  margin: 0 0 120px 0;
}

.shop_class {
  font-size: 17px;
  color: white;
  background-color: red;
  text-align: center;
  padding: 20px 0;
}


.now_class {
  cursor: pointer;

}
.now_class:hover {
  text-decoration: underline;
}
